<html>
<head>
<title>Testing Flask SocketIO</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        //var socket = io();
        var socket = io.connect('https://atiftest1socketio.azurewebsites.net:80');
        console.log('Connected--->' + socket.connected);
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });
        socket.on('create_data', function(dataJson) {
            console.log('Call from Server--->' + socket.connected);
            console.log('Data Created on Client Side: ' + JSON.stringify(dataJson));
        });
    </script>
    <button onclick="myFunction()">Click me</button>
    <script>
        function myFunction() {
            let dataJson = {data: 'I\'m connected!'};
            console.log('Button On Click--->' + socket.connected);
            socket.emit('create_data', dataJson);
            
        }
    </script>
</body>
</html>